@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-playfair: "Playfair Display", sans-serif;
  --color-secondary: #adea2d;
  --secondary-body-color: #222222;
  --bg-container: #242424;
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (width>=40rem) {
    padding: 0 1rem;
  }
}

@layer components {
  .bg-container {
    background-color: var(--bg-container);
  }
  .bg-button {
    background-color: var(--color-secondary);
  }
  .text-secondary {
    color: var(--color-secondary);
    font-family: var(--font-playfair);
  }
  .color-secondary {
    color: var(--color-secondary);
  }
  .color-bg-secondary {
    color: var(--secondary-body-color: #222222;);
  }
}
body {
  font-family: var(--font-montserrat);
  color: white;
  background-color: #161616;
  padding: 0 40px;
  overflow-x: hidden;
}
